<div class="post-wrapper">
    <div class="card border-secondary">
        <div class="card-header post-title-box">
            <p class="post-title"><a href="/post/{{id}}"> {{title}} </a></p>
            <p class="post-author">Posted by {{user.username}} on {{format_date date_created}}</p>    
        </div>
        <div class="card-body">
            <p class="card-text">{{content}}</p>
        </div>
    </div>
</div>
